.vs/
*.sln
*.db
*.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
x64
Debug
Release
intermediate
**/log/
**/bin/
**/lib/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/build/
**/internal/
